#welcome {
  background-image: linear-gradient(141deg, #9fb8ad 0%, #1fc8db 51%, #2cb5e8 75%);
}

#title, #hint {
  opacity: 0;
}

#title {
  font-size: 8vmax;
}

#hint {
  font-size: 4vmax;
}

#ide, #help {
  display: none;
}

.editTextLine {
  border: none;
  width: 100%;
}

*:focus {
  outline: none;
}

.active {
  background-color: #e9e8fe;
}

.lineNumber {
  background-color: #f2f2f2;
}

.navbar {
  height: 44px;
}

.nav-item {
  padding: 10px;
}

#textOutput {
  height: calc(100% - 44px);
}

#textOutputText {
  line-height: 24pt;
  font-family: Courier;
}

.outputLineBackground {
  border-bottom: 1px solid #dee2e6 !important;
}

.outputLineBackground:hover {
  background-color: #2484ff;
}

.outputLineInnerBackground {
  background-color: white;
}

#console {
  background-color: #191919;
}

@media screen and (min-width: 768px) {
  #title {
    font-size: calc(768px * 8 / 100);
  }

  #hint {
    font-size: calc(768px * 4 / 100);
  }
}

@media screen and (max-width: 576px) {
  #title {
    font-size: calc(576px * 8 / 100);
  }

  #hint {
    font-size: calc(576px * 4 / 100);
  }
}
